<h1>Jobs Listing</h1>

<i class="icon-search"></i>

<div class="row">
  <table class="jobs table table-hover span8">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr class="job-row" data-toggle="modal" data-target="#myModal">
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
      <tr class="job-row" data-toggle="modal" data-target="#myModal">
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
      <tr class="job-row" data-toggle="modal" data-target="#myModal">
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
      <tr class="job-row" data-toggle="modal" data-target="#myModal">
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
    </tbody>
  </table>
  <div class="span4">
    <!-- placeholder -->
    <img style="width: 100%;height: 500px">
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
