<h1>Jobs Listing</h1>

<i class="icon-search"></i>

<div class="row">
  <table class="jobs table table-hover span8">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
      <tr>
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
      <tr>
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
      <tr>
        <td class="job-title">Claim Processor - Auto
          <p class="job-family">Claims, Underwriting, Insurance</p>
        </td>
        <td class="job-location">Bloomington, IL</td>
      </tr>
    </tbody>
  </table>
  <div class="span4">
    <!-- placeholder -->
    <img style="width: 100%;height: 500px">
  </div>
</div>
