

<header>
<h1>JobFarm</h1>
</header>

<!-- <p>Find me in app/views/static/landing.html.erb</p> -->

<h2>some plain words</h2>

<div class="sf_blue">
	<h3 class="center">All employees. All opportunities. All the time.</h3>
</div>

<div class="sf_blue banner">
	<div class="center">Step forward into your future.</div>
	<h3>Listings</h3>
	<h3>Apply</h3>
	<h3>Profile</h3>
</div>