

<header>
	<h1 style="padding-top:20px; padding-left: 20px;">JobFarm</h1>
	<h4 class="right">All employees. All opportunities. All the time.</h4>
</header>

<!-- <p>Find me in app/views/static/landing.html.erb</p> -->



<div class="sf_blue banner center white">
	<h3>Step forward into your future.</h3>
		<div class="div_icon">
			<i class="icon-laptop icon_large"></i>
			<h3>Profile</h3>
		</div>
		<div class="div_icon">
			<i class="icon-list icon_large"></i>
			<h3>Listings</h3>
		</div>
		<div class="div_icon">
			<i class="icon-external-link-sign icon_large"></i>
			<h3>Apply</h3>
		</div>
</div>

<footer>

</footer>