

<header>
	<div class="row">
		<h1 id="header_brand" class="span12">JobFarm</h1>
	</div>
  <div class="row">
    <h4 id="header_tagline" class="span12">
      All employees. All opportunities. All the time.
    </h4>
  </div>
</header>

</div><!--end container here-->

<div class="sf_blue banner center white">
	<h3 id="banner_tagline">Step forward into your future.</h3>
  <div class="div_icon">
    <i class="icon-laptop icon_large"></i>
    <h3>Profile</h3>
    <p>Set up your profile once to apply for any and all jobs.</p>
  </div>
  <div class="div_icon">
    <i class="icon-list icon_large"></i>
    <h3>Listings</h3>
    <p>View all job listings. Search on any word contained in them.</p>
  </div>
  <div class="div_icon">
    <i class="icon-external-link-sign icon_large"></i>
    <h3>Apply</h3>
    <p>Just hit apply and get ready to rock your interview.</p>
  </div>
</div>

<div class="container"><!--start new container for application.html.erb-->

<footer>

</footer>