

<header class="row" style="background-color: green;">
	<h1 class="center" style="float:left;">JobFarm</h1>
	<h4 class="center" style="float:right; vertical-align: baseline;">All employees. All opportunities. All the time.</h4>
</header>

<!-- <p>Find me in app/views/static/landing.html.erb</p> -->



<div class="sf_blue banner center text_large white">
	<h3>Step forward into your future.</h3>
		<div style="float:left; width:33%;">
			<i class="icon-edit icon_large"></i>
			<h3>Profile</h3>
		</div>

		<div style="float:left; width:33%;">
			<i class="icon-list icon_large" style="margin:0; padding:0;"></i>
			<h3>Listings</h3>
		</div>

		<div style="float:left; width:33%;" class="center">
			<i class="icon-hand-up icon_large"></i>
			<h3>Apply</h3>
		</div>
</div>

<footer>

</footer>