<h1>Hello, <%= @user.name %></h1>

<div class="row">
  <div class="span8">
    <h3>Jobs you have applied for</h3>
    <% @user.apps_for_jobs.each do |app| %>
      <p><%= app %></p>
    <% end %>
    <h3>Jobs you have saved for later</h3>
  </div>
  <div class="span4">
    <button>Import LinkedIn</button>
    <button>Import StackOverflow Careers</button>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Profile</h3>
  </div>
</div>
