/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 *= require_tree .
 */

#main_nav, #main_nav .navbar-inner {
  background-color: #4994cd;
  background-image: none;
  border: none;
}

#main_nav .brand, #user_nav a {
  color: #fafafa;
  text-shadow: none;
}

#user_nav {
  position: absolute;
  right: 20px;
  top: 10px;
}

td, th {
  padding: 10px;
}

td a {
  border: 1px solid black;
}
