/* Style used for static pages */


/* could be used across entire site */
header {
	/*background-color: #4994cd;*/
}

footer{
	background-color: #009e49;
}


h1, h2, h3, h4 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.banner {
	text-align: center;
	height: 200px;
}


.center {
	text-align: center;
}

footer {
	background-color: #009e49;
}

.icon_large {
	font-size:100px;
}

.pad {
	padding: 20px;
}

.row {
	clear: both;
}

.sf_blue {
	background-color: #4994cd;
}

.sf_green {
	background-color: #009e49;
}


.text_large {
	font-size:large;
}

.white {
	color: #fff;
}