/* Style used for static pages */


/* could be used across entire site */
header {
}
#header_brand, #header_tagline {
  text-align: center;
}
#header_brand {
  margin-top: 30px;
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
}
#header_tagline {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 300;
  line-height: 52px;
}

h1, h2, h3, h4 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.banner {
	text-align: center;
	height: 520px;
}
#banner_tagline {
  padding: 30px 0;
}
.banner p {
  padding-top: 20px;
  width: 200px;
  margin: 0 auto;
}

.center {
	text-align: center;
}

.div_icon {
	float:left;
	width:33%;
}

.icon_large {
	font-size: 200px;
}

.sf_blue {
	background-color: #4994cd;
}

.text_large {
	font-size: xx-large;
}

.white {
	color: #fff;
}

/* LISTINGS PAGE */
.form-search {
  padding: 20px 0;
}
.form-search .icon-search {
  padding: 0 5px;
}

.job-row {
  cursor: pointer;
}

.job-title, .job-location {
  font-size: 20px;
}

.job-categories {
  font-size: 14px;
  padding: 2px;
}

.modal-footer span {
  padding: 0 5px;
}

/* PROFILE PAGE */
#profile_intro {
  margin-bottom: 30px;
}

#profile_info {
  padding: 20px 0;
}